Hello, this is my capstone project

In [13]:
import pandas as pd
import numpy as np

In [14]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Traffic accidents_2019_Leeds.csv')

In [3]:
df

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Local Authority,Vehicle Number,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
0,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,6
1,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,1,9
2,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,39
3,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,1,5
4,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902,6CU0181,442094,434619,1,30/12/2019,422,1,M1,2,4,4,E08000035,1,9,1,3,1,27
1903,6CU0363,423019,437653,1,30/12/2019,1000,3,A65,4,1,1,E08000035,1,5,1,2,1,36
1904,6CV0723,436853,442515,2,31/12/2019,1340,3,A58,1,1,1,E08000035,2,1,1,2,1,59
1905,6CV1518,421466,433999,3,31/12/2019,1640,3,A647,1,4,1,E08000035,2,9,1,3,1,41
1906,6CV1518,421466,433999,3,31/12/2019,1640,3,A647,1,4,1,E08000035,2,9,2,3,1,26

In [4]:
df2 = pd.read_csv('Data-Collisions.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df2.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [6]:
df2.shape

(194673, 38)

In [12]:
df2.ROADCOND.isna().sum()

5012